<template>
  <div id="container">
    <News />
  </div>
</template>

<script>
import News from "@/components/NewsComponent.vue";

export default {
  name: "NewsView",
  components: { News },
};
</script>

<style scoped></style>
